<mat-card class="editprofile-card">
  <mat-card-header class="editprofile-card-header">
    <mat-card-title class="editprofile-card-title">Edit profile</mat-card-title>
  </mat-card-header>
  <mat-card-content class="editprofile-card-content">
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Password"
          placeholder="Password"
          type="password"
          name="Password"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Email"
          placeholder="Email"
          type="Email"
          name="Email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Birthday"
          placeholder="Birthday"
          type="date"
          name="Birthday"
          required
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="editprofile-actions">
    <button mat-raised-button color="primary" (click)="editUser()">
      Confirm update
    </button>
  </mat-card-actions>
  <mat-card-actions class="editprofile-close-actions">
    <button
      class="editprofile-close-button"
      mat-stroked-button
      aria-label="Button to close the edit profile dialog"
      mat-dialog-close
      color="primary"
    >
      X
    </button></mat-card-actions
  >
</mat-card>
