$backgroundColor: #9bb7d4;
$textColor: #343a40;
$cardColor: #fff;
$boxShadowColor: #cee0f2;

.editprofile-card {
  background-color: $cardColor;
  margin-top: 0px;
  box-shadow: none;
}

.editprofile-card-title {
  color: $textColor;
}

.editprofile-card-content {
  color: $textColor;
}

::ng-deep .edit-profile-custom>mat-dialog-container {
  background-color: $cardColor;
}

.editprofile-close-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  line-height: 14px;
  min-width: auto;
  border: none;
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
}

.editprofile-close-actions:hover {
  color: red;
}



