$backgroundColor: #9bb7d4;
$textColor: #343a40;
$cardColor: #fff;
$boxShadowColor: #cee0f2;

.signup-dialog {
  background-color: $cardColor;
  margin-top: 0;
  box-shadow: none;
}

.signup-dialog-title {
  color: $textColor;
}

.signup-dialog-content {
  color: $textColor;
}

::ng-deep .signup-custom>mat-dialog-container {
  background-color: $cardColor;
}

.signup-actions {
  display: flex;
}